{{!-- {{yield}} --}}
<p>Users entered:</p>
<ul>
            {{#each @allInfo  as |person index|}}
        <li>
               {{person.Name}} paid {{person.Cost}} for {{person.Event}}
               <button  delete-button aria-label="Remove Person" onClick={{action clearIndex index}}>-</button>
        </li>
            {{/each}}  
        </ul>